.details-style {
    margin-top: 90px;
    padding: 30px;
}

.detail-card {
    border: solid black 2px;
    border-radius: 7px;
    margin: 20px;
    background-color: white;
    text-decoration: none;
    height: 700px;
    width: 80%;
    margin-left: 150px;
}

.detail-card-top {
    width: 100%;
    height: 30%;
}

.detail-card-bottom {
    width: 100%;
    height: 70%;
}


.detail-card-price {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;

}

.detail-card-price-red {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    color: darkred;
}

.detail-card-image {
    float: left;
    margin: 20px;
}

.detail-card-year {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;

}

.detail-card-description {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.detail-card-youtube-url {
    margin-left: 200px;
}

.buttons-container {
    margin-left: 150px;

}

.btn-link {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.btn-button {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;

}




