body {
    margin-top: 90px;
}

.form-style {
    margin-top: 90px;
    padding: 30px;
}

.form-body {
    margin-left: 280px
}

.form-container {
    background-color: white;
    border: solid black 2px;
    border-radius: 7px;
    width: 75%;
    padding-bottom: 50px;
    opacity: 60%;
}

.input-container {
    margin: 35px;
}

label {
    font-weight: bold;
    font-size: 20px;

}